<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div>
  <!-- Static sidebar for desktop -->
  <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6">
      <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-7">
          <li>
            <ul role="list" class="-mx-2 space-y-1">
              <!-- Current: "bg-gray-800 text-white", Default: "text-gray-400 hover:text-white hover:bg-gray-800" -->
              <% @chat_sessions.each do |chat_session| %>
                <li>
                  <%= link_to chat_path(chat_session), class: "group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-400 hover:bg-gray-800 hover:text-white" do %>
                    <%= chat_session.title %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>


  <main class="py-10 lg:pl-72">
    <div class="px-4 sm:px-6 lg:px-8" data-controller="chat-session" data-chat-session-chat-session-id-value="<%= @chat_session.id %>">
      <div>
        <%= turbo_frame_tag "chat_messages", data: { "chat-session-target": "chatMessages" } do %>
          <%= render @chat_session.chat_messages %>
          <template id="chat_message_template">
            <turbo-frame>
              <p class="bg-indigo-200 rounded-md p-2 mb-4 text-gray-600">
                <span data-template="role"></span>
                <span data-template="content" class="whitespace-pre-line"></span>
              </p>
            </turbo-frame>
          </template>
        <% end %>
      </div>
      <%= form_with model: ChatMessage.new, url: chat_messages_path, method: :post, data: { turbo_frame: "chat_messages", action: "turbo:submit-end->chat-session#messageSubmitted" } do |f| %>
        <%= f.hidden_field :chat_session_id, value: @chat_session.id %>
        <%= f.hidden_field :role, value: "user" %>
        <%= f.text_field :content, class: "border-2 border-gray-300 rounded-md p-2 w-100", data: { "chat-session-target": "messageContentInput" } %>
        <%= f.submit "Send", class: "bg-blue-500 text-white p-2 rounded-md" %>
      <% end %>
    </div>
  </main>
</div>
